:root {
	--color00: #1c1213;
	--color01: #1c1213;
	--color02: #1c1213;
	--color03: #a87569;
	--color04: #e3a68c;
	--color05: #e3a68c;
	--color06: #e3a68c;
	--color07: #e3a68c;
	--color08: #c24f57;
	--color09: #f28171;
	--color0A: #f28171;
	--color0B: #806c61;
	--color0C: #6b6566;
	--color0D: #684c59;
	--color0E: #a63650;
	--color0F: #c24f57;
}
